html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin-top: 0%;
  margin-bottom: 0 ;
  margin-left: auto;
  margin-right: auto;
}
ul {
  background-color: white;
  border: 5px solid purple;
  padding: 30px;
  border-radius: 20px;
}
h1{
  color: darkslategray;
  border-bottom:10px dotted;
  font-size: 2rem;
}
h2{
  font-style: italic;
  font-size:1.5rem;
  
}
.job-title{
  color: darkslategray;
  font-weight:bold;

}
a {
  color: green;
}

a:hover,
a:focus {
  color: darkgreen;
  text-decoration: none;
}

