@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&display=swap');
h1{
    font-family:"Prata", serif;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.05rem;
}
h2{
    font-family:"Prata", serif ;
    font-size: 2.5rem;
    margin-bottom: 0;
    letter-spacing: 0.05rem;
}
section h2 + p {
  text-indent: 2rem;
}
/* General setup */
* {
  box-sizing: border-box;
}

body {
font-family:"Playfair Display" serif;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0.03rem;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}
a{
    outline: none;
}
a:link{
  color: #773333;
}
a:focus{
  color: #773333;
}
a:hover{
  text-decoration: none;
  color: #773333;
}
a:visited {
  text-decoration: none;
  color: #773333;
}
a[href*="http"] {
  padding-right: 16px;
  background: url("lab3/part2/externallink/external-link-52.png") no-repeat right center;
  background-size: 14px 14px;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}