@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&display=swap');
h1{
    font-family:"Prata", serif;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.05rem;
    font-weight: bolder;
}
h2{
    font-family:"Prata", serif ;
    font-size: 2.5rem;
    margin-bottom: 0;
    letter-spacing: 0.05rem;
    font-weight: bolder;
}
section h2 + p {
  text-indent: 2rem;
}
section h2{
    font-size: 1.5rem;
}
/* General setup */
* {
  box-sizing: border-box;
}

body {
font-family:"Playfair Display", serif;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0.03rem;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}
a{
    outline: none;
}
a:link{
  color: #773333;
}
a:focus{
  color: #773333;
}
a:hover{
  text-decoration: none;
  color: #773333;
}
a:visited {
  text-decoration: none;
  color: #773333;
}
a[href*="http"] {
  padding-right: 12px;
  background: url("external-link-52.png") no-repeat right center;
  background-size: 10px 10px;
}
ul{
    margin-top: 1rem ;
    margin-bottom: 1rem ;
    line-height: normal;
    list-style-type:square;
}
ol {
    margin-top: 1rem ;
    margin-bottom: 1rem ;
    line-height: normal;
    list-style-type:lower-roman;
}
nav li{
    margin-bottom: 0;
    list-style-type: none;
    text-decoration: none;
}
    
nav li a {
  font-family: "Prata", serif;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #773333;
  width: 100%;
  line-height: 3.5;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-weight: bolder;
  text-transform: uppercase; 
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}